

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    180deg,
    #DAF1DE 0%,
    #8EB69B 20%,
    #235347 50%,
    #163832 60%,
    #0B2B26 70%,
    #051F20 100%
  );
}